<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shape_up_2022">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <queries>
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
    </queries>

    <application
        android:name=".retrofit.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SHAPEUP2022"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".simulation.SimVoiveActivity"
            android:exported="false" />

        <activity
            android:name=".common.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".simulation.SimFinishActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.TestResultActivity"
            android:exported="false" />
        <activity
            android:name=".FaqActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SpeedActivity"
            android:exported="false" />
        <activity
            android:name=".common.TipActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterShareActivity"
            android:exported="false" />
        <activity
            android:name=".auth.RegisterInputActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.Hospitalquiz3Activity"
            android:exported="false" />
        <activity
            android:name=".simulation.Hospitalquiz2Activity"
            android:exported="false" />
        <activity
            android:name=".simulation.HospitalquizActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.HospitalinfoActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimTrainingActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimStartNamingActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimStartBreedActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.TestActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimStartActivity"
            android:exported="false" />

        <activity
            android:name=".simulation.SimHealthActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimWalkReviewAddActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimWalkReviewMainActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimWalkPlaceActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimWalkSearchActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimWalkingActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimWalkMainActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimBrushToothActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimBrushActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimBathActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimHygieneActivity"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBWaM8ldwnckbWzM5rOGNisvmvTCjR8dQM" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".simulation.DogFeedsimulationActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.FeedsimulationActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SnacksimulationActivity"
            android:exported="false" />
        <activity
            android:name=".WatersimulationActivity"
            android:exported="false" />
        <activity
            android:name=".common.YoutubeActivity"
            android:exported="false" />
        <activity
            android:name=".common.SimulationActivity"
            android:exported="false" />
        <activity
            android:name=".common.MainActivity"
            android:exported="true" />
        <activity
            android:name=".achieve.AchieveActivity"
            android:exported="false" />
        <activity
            android:name=".common.AlarmActivity"
            android:exported="false" />
        <activity
            android:name=".common.BudgetActivity"
            android:exported="false" />
        <activity
            android:name=".auth.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".common.MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".common.PreferenceActivity"
            android:exported="false" />
        <activity
            android:name=".todo.TodoActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimManagePuppyActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimBallActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimDefecationCActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimInducingBowelMovementsActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimCleaningbedActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimToyPuppyActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimTugSimActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimWashingToyActivity"
            android:exported="false" />
        <activity
            android:name=".simulation.SimBeautyActivity"
            android:exported="false" />
    </application>

</manifest>